*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    width: 50%;
    display: block;
    height: auto;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
}

.text{
    padding: 0.4rem;
    font-size: 1.2rem;
    text-align: center;
}